{% load static %}
    <div class="header-container">        
        <a class="header-menu-item" href="{% url 'home' %}" >Home</a>
        <a class="header-menu-item" href="{% url 'cad-estilo' %}" >Cadastro Estilo</a>
        <a class="header-menu-item" href="{% url 'cad-tamanho' %}">Cadastro Tamanho</a>
        <a class="header-menu-item" href="{% url 'cad-color' %}">Cadastro Colorização</a>
        <a class="header-menu-item" href="{% url 'cad-promo' %}">Cadastro Promo</a>
        <a class="header-menu-item" href="{% url 'cad-arte' %}">Cadastro Arte</a>
        <a class="header-menu-item" href="{% url 'cad-tatuagem' %}">Cadastro Tatuagem</a>            
    </div>      
        