{% load static %}
    <nav class="header-container">
        <a href="{% url 'home' %}"><img class="logo" alt="logo" src="{% static 'image/logo.jpg' %}"></a>
        <h1 class="titulo">LANCE.TTT</h1>
        <ul class="nav-list">
            <li>
                <a class="header-menu-item" href="{% url 'home' %}" >Home</a>
            </li>
            <li>
                <a class="header-menu-item" href="{% url 'catalogo' %}" >Catalogo</a>
            </li>
            <li>
                <a class="header-menu-item" href="{% url 'portfolio' %}" >Portfolio</a>
            </li>
            <li>
                <a class="header-menu-item" href="{% url 'contato' %}" >Contato</a>
            </li>
            {% if request.user.is_authenticated %}
            <li>
                <a class="header-menu-item" href="{% url 'dashboard' %}" >Dashboard</a>
            </li>
            <li>
                <a class="header-menu-item" href="{% url 'cad-estilo' %}" >Cadastro Estilo</a>
            </li>
            <li>
                <a class="header-menu-item" href="{% url 'cad-tamanho' %}">Cadastro Tamanho</a>
            </li>
            <li>
                <a class="header-menu-item" href="{% url 'cad-color' %}">Cadastro Colorização</a>
            </li>
            <li>
                <a class="header-menu-item" href="{% url 'cad-promo' %}">Cadastro Promo</a>
            </li>
            <li>
                <a class="header-menu-item" href="{% url 'cad-arte' %}">Cadastro Arte</a>
            </li>
            <li>
                <a class="header-menu-item" href="{% url 'cad-tatuagem' %}">Cadastro Tatuagem</a> 
            </li>   
            <li>
                <a class="header-menu-item" href="{% url 'sair' %}">Sair</a> 
            </li>  
            {% endif %}
            {% if not request.user.is_authenticated %}    
            <li>
                <a class="header-menu-item" href="{% url 'login' %}">Logar</a> 
            </li>      
            {% endif %} 
        </ul>   
        <button class="menu-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </button> 
    </nav>    
    <nav class="header-menu-container">
        <ul class="menu-list">
            <li>
                <a class="header-menu-item" href="{% url 'home' %}" >Home</a>
            </li>
            <li>
                <a class="header-menu-item" href="{% url 'catalogo' %}" >Catalogo</a>
            </li>
            <li>
                <a class="header-menu-item" href="{% url 'portfolio' %}" >Portfolio</a>
            </li>
            <li>
                <a class="header-menu-item" href="{% url 'contato' %}" >Contato</a>
            </li>
            {% if request.user.is_authenticated %}
            <li>
                <a class="header-menu-item" href="{% url 'cad-estilo' %}" >Cadastro Estilo</a>
            </li>
            <li>
                <a class="header-menu-item" href="{% url 'cad-tamanho' %}">Cadastro Tamanho</a>
            </li>
            <li>
                <a class="header-menu-item" href="{% url 'cad-color' %}">Cadastro Colorização</a>
            </li>
            <li>
                <a class="header-menu-item" href="{% url 'cad-promo' %}">Cadastro Promo</a>
            </li>
            <li>
                <a class="header-menu-item" href="{% url 'cad-arte' %}">Cadastro Arte</a>
            </li>
            <li>
                <a class="header-menu-item" href="{% url 'cad-tatuagem' %}">Cadastro Tatuagem</a> 
            </li>     
            <li>
                <a class="header-menu-item" href="{% url 'sair' %}">Sair</a> 
            </li>  
            {% endif %}       
            {% if not request.user.is_authenticated %}    
            <li>
                <a class="header-menu-item" href="{% url 'login' %}">Logar</a> 
            </li>      
            {% endif %} 
        </ul> 
    </nav> 
    
        