{% extends '_base.html' %}
{% load static %}
{% block content %}
    <div class="cards-container">
        {% if cards %}
        {% for arte in cards %}
        
            <div class="card">
                <a href="{% url 'detail-arte' arte.id %}">
                {% if arte.arte_imagem == '' or arte.arte_imagem == null %}
                <img class="card-imagem" src="{% static 'image/sem_foto.png' %}" alt="foto">
                {% else %}
                <img class="card-imagem" src="{{ arte.arte_imagem.url }}" alt="foto">
                {% endif %}
                <div class="card-text">
                    <h1>{{ arte.arte_nome}}</h1>
                    <h2>R${{ arte.arte_preco|floatformat:2 }}</h2>                   
                </div>
            </a>            
            </div>
        
        {% endfor%}
        {% endif %}
    </div>
{% endblock %}