{% extends '_base.html' %}
{% load static %}
{% block content %}
<div class="tabela-container">
    <div class="dashboard">
        <table>
            <caption>Artes Cadastradas: {{infos.total_artes}}</caption>
            <thead>
                <tr>
                    <th>ESTILO</th>
                    <th>QUANTIDADE</th>
                </tr>
            </thead>
            <tbody>
                {% for estilo, qntd in infos.count_estilos.items %}
                <tr>
                    <td>{{estilo}}</td>
                    <td>{{qntd}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th>TAMANHO</th>
                    <th>QUANTIDADE</th>
                </tr>
            </thead>
            <tbody>
                {% for tamanho, qntd in infos.count_tamanhos.items %}
                <tr>
                    <td>{{tamanho}}</td>
                    <td>{{qntd}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th>MÉTRICA</th>
                    <th>VALOR</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Maior Valor</td>
                    <td>R${{infos.valores.maior_valor|floatformat:2}}</td>
                </tr>
                <tr>
                    <td>Menor Valor</td>
                    <td>R${{infos.valores.menor_valor|floatformat:2}}</td>
                </tr>
                <tr>
                    <td>Média</td>
                    <td>R${{infos.valores.media_valor|floatformat:2}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">Quantas estão na WISHLIST: {{infos.count_wishlist}}</td>
                </tr>
            </tfoot>
        </table>
       
    </div>

    <div class="dashboard">
        <table>
            <caption>Tatuagens Cadastradas: {{infos.total_tatuagens}}</caption>
            {% if infos.count_estilos_tatuagens %}
            <tr>
                <th>ESTILO</th>
                <th>QUANTIDADE</th>
            </tr>
            {% for estilo, qntd in infos.count_estilos_tatuagens.items %}
            <tr>
                <td>{{estilo}}</td>
                <td>{{qntd}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>

        <table>
            <thead>
                <tr>
                    <th>TAMANHO</th>
                    <th>QUANTIDADE</th>
                </tr>
            </thead>
            {% if infos.count_tamanhos_tatuagens %}
            <tbody>
                {% for tamanho, qntd in infos.count_tamanhos_tatuagens.items %}
                <tr>
                    <td>{{tamanho}}</td>
                    <td>{{qntd}}</td>
                </tr>
                {% endfor %}                
            </tbody>
            {% endif %}
        </table>
        <table>
            <thead>
                <tr>
                    <th>MÉTRICA</th>
                    <th>VALOR</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Maior Valor</td>
                    <td>R${{infos.valores_tatuagens.maior_valor|floatformat:2}}</td>
                </tr>
                <tr>
                    <td>Menor Valor</td>
                    <td>R${{infos.valores_tatuagens.menor_valor|floatformat:2}}</td>
                </tr>
                <tr>
                    <td>Média</td>
                    <td>R${{infos.valores_tatuagens.media_valor|floatformat:2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>    
{% endblock %}