{% extends '_base.html' %}
{% load static %}
{% block content %}
    <div class="cards-container">
        {% if cards_arte %}
        {% for arte in cards_arte %}
        <a href="{% url 'detail-arte' arte.id %}">
        <div class="card">
            {% if arte.arte_imagem == '' or arte.arte_imagem == null %}
            <img class="card-imagem" src="{% static 'image/sem_foto.png' %}" alt="foto">
            {% else %}
            <img class="card-imagem" src="{{ arte.arte_imagem.url }}" alt="foto">
            {% endif %}
            <div class="card-text">
                <h1>{{ arte.arte_nome}}</h1>
                <h2>R${{ arte.arte_preco|floatformat:2 }}</h2>                
            </div>            
        </div>        
        {% endfor%}
        {% endif %}
        </a>
    </div>
    <div class="ports-container">
        {% if cards_tatu %}
        {% for tatuagem in cards_tatu %}
        <div class="port">
            <img class="port-imagem" src="{{ tatuagem.tatuagem_imagem.url }}" alt="foto">
            <div class="port-text">
                <h1>{{ tatuagem.tatuagem_nome}}</h1>
                <h2>{{tatuagem.tatuagem_data|date}}</h2>                
            </div>            
        </div>        
        {% endfor%}
        {% endif %}
    </div>
{% endblock %}