{% extends '_base.html' %}
{% load static %}
{% block content %}
<div class="home-container">
    <div class="home-img-perfil">
        <div class="home-text">
            <p>Sou Bruno Diniz, e mais do que um tatuador, sou um artista apaixonado por games, filmes e quadrinhos.</p>
            <p>Transformo essa paixão em tatuagens únicas, cheias de personalidade e que contam histórias.</p>
            <p>Trabalho com traços precisos e criatividade sem limites, dando vida aos seus personagens favoritos, elementos de fantasia e referências que só um fã de verdade entenderia.</p>
            <p>Se você busca uma tattoo que te represente e te transporte para outros mundos, eu sou o artista perfeito para você!</p>
        </div>
        <img src="{% static 'image/home-perfil.jpg' %}" alt="Bruno Diniz - Tatuador">
        
    </div>
</div>
{% endblock %}