{% extends '_base.html' %}
{% load static %}
{% block content %}
    <div class="ports-container">
        {% if cards %}
        {% for tatuagem in cards %}
        <div class="port">
            <img class="port-imagem" src="{{ tatuagem.tatuagem_imagem.url }}" alt="foto">
            <div class="port-text">
                <h1>{{ tatuagem.tatuagem_nome}}</h1>
                <h2>Estilo: {{tatuagem.tatuagem_estilo}}</h2>
                <h2>Colorização: {{tatuagem.tatuagem_colorizacao}}</h2>
                <h2>{{tatuagem.tatuagem_data|date}}</h2>
                
            </div>            
        </div>        
        {% endfor%}
        {% endif %}
    </div>
{% endblock %}